# Git
.git
.git/
.gitignore
.dockerignore
Dockerfile*

# Poetry
.venv
.venv312
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment
.env
.env*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Logs and data
logs/
data/
*.log
*.log*
coverage/
dist/
build/
node_modules/
app/frontend/node_modules/

# OS specific
.DS_Store
Thumbs.db 
